@keyframes focusLetter {
  0%, 100% {
    color: #ffffff;     
    transform: scale(1);
  }
  50% {
     color: #ffffff; 
    transform: scale(1.32);
  }
}

.animate-letter {
  display: inline-block;  
  animation: focusLetter 4s ease-in-out infinite;
}
.responsiveLink{
    display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
  z-index: 999;
  right: 30px;
  line-height: 3em;

  padding: 10px 40px; 
  border-radius: 20px;
}
.responsiveLink a{
   /* color: rgb(0, 0, 0); */
  font-weight: 600;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #3b82f6;
  animation:
    typing 1.8s steps(var(--chars)) forwards,
    blink 0.9s step-end infinite;
  animation-delay: 0s;
}

/* typing only till text length */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(var(--chars) * 0.9ch);
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media(max-width:640px){
    .togglebtn{
        display: flex;
    }
    .responsiveLink{
        display: flex;
    }
    .classIcon{
        display: flex;
    }
    .responsiveInput{
        display: none;
    }
}