@keyframes focusLetter {
  0%, 100% {
    color: #ffffff;     
    transform: scale(1);
  }
  50% {
     color: #ffffff; 
    transform: scale(1.36);
  }
}

.animate-letter {
  display: inline-block;  
  animation: focusLetter 4s ease-in-out infinite;
}
.responsiveLink{
    display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
  z-index: 999;
  right: 30px;
  line-height: 3em;
  background-color:white;
  padding: 10px 40px; 
  border-radius: 20px;
}
.responsiveLink a{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

@media(max-width:640px){
    .togglebtn{
        display: flex;
    }
    .responsiveLink{
        display: flex;
    }
    .classIcon{
        display: flex;
    }
    .responsiveInput{
        display: none;
    }
}